<h1>All Pictures</h1>
<p class="links"><%= link_to 'Add Picture', '/pictures/new' %></p>

<% @pictures.each do |picture| %>
  <p><%= picture.title %> | <%= picture.artist %></p>
  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
<% end %>
